// ////////////////////////////////
// All Buttons Styles
// ////////////////////////////////

.button {
  color: var(--color-white);
  background: var(--color-primary);
  font-weight: 500;
  border: none;
  outline: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 90%;
  }

  &-navigation {
    padding: 1.1rem 2rem;
    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
  }

  &-sidebar {
    padding: 0.5rem;
    display: none;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
    }
  }

  &-mobile-navigation {
    padding: 1.1rem 2rem;
  }

  &-sidebar--close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
  }

  &-slider {
    color: var(--color-primary);
    font-weight: 600;
    padding: 1rem 2rem;
    border: 2px solid var(--color-primary);
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2 ease-in-out;

    &:hover {
      color: var(--color-text-2);
      border-color: var(--color-text-2);
    }
  }

  &-contact {
    padding: 1.5rem 2rem;
    align-self: flex-end;
  }
}

// ////////////////////////////////
// Navigation Styles
// ////////////////////////////////

.navigation {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;

  &__left,
  &__center,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
      gap: 2rem;
    }
  }

  &__left,
  &__item {
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__lists {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__link {
    padding: 1rem;
    color: var(--color-text-2);
    text-decoration: none;
    text-wrap: nowrap;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__logo {
    padding: 2rem 0;
  }
}

// ////////////////////////////////
// Mobile Navigation Styles
// ////////////////////////////////

.mobile-navigation {
  z-index: 200;
  background: var(--color-white);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3rem;
  display: none;
  flex-direction: column;
  gap: 3rem;

  &__lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.8rem;
    flex-grow: 1;
    width: 100%;
    justify-content: stretch;
  }

  &__link {
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    display: inline-block;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-primary);
    }
  }
}

// ////////////////////////////////
// Slider Styles
// ////////////////////////////////

.slider {
  padding: 0 2rem 1.5rem;
  box-shadow: none;

  &__item {
    width: 85rem !important;
    margin: 0 2rem;

    @media only screen and (max-width: $bp-medium) {
      width: 90vw !important;
    }
  }

  &__content {
    padding: 4rem;
    background: var(--color-white);
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      gap: 1rem;
    }
  }

  &__category {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-text-2);
  }

  &__image {
    height: 50rem;
    width: 100%;
    object-fit: cover;
  }

  &__heading {
    font-size: 3.2rem;
    font-family: 'Lora', serif;
    font-weight: 500;
    color: var(--color-text-2);
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

// ////////////////////////////////
// Slick Overwrite Styles
// ////////////////////////////////

.slick {
  &-slide {
    opacity: 70%;

    & .slider__content {
      display: none;
    }
  }

  &-active {
    opacity: 100%;

    & .slider__content {
      display: block;
    }
  }

  &-arrow {
    display: none !important;
  }

  &-dots {
    display: flex !important;
    gap: 0rem !important;
    justify-content: center;
    align-items: center;

    & li {
      margin: 0;
      width: 2rem;
    }

    @media only screen and (max-width: $bp-large) {
      display: none !important;
    }
  }
}

// ////////////////////////////////
// Modal related Styles
// ////////////////////////////////

.contact {
  background: rgba(219, 217, 217, 0.596);

  &__heading {
    background: var(--color-text-2);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--color-white);
  }

  &__form {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 0;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @media only screen and (max-width: $bp-small) {
      grid-column-end: span 2;
    }
  }

  &__label {
    color: var(--color-text-2);
    font-weight: 700;
    font-size: 1.7rem;
  }

  &__feild {
    padding: 1rem;
    background: var(--color-white);
    font-size: 1.5rem;
    border: 1px solid var(--color-primary);
    font-size: 1.7rem;
  }

  &__full {
    grid-column-end: span 2;

    @media only screen and (max-width: $bp-small) {
      grid-column-end: span 2;
    }
  }
}

.hystmodal {
  margin: 1rem;
  z-index: 400;
}
