.navigation {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;

  &__left,
  &__center,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
      gap: 2rem;
    }
  }

  &__left,
  &__item {
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__lists {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__link {
    padding: 1rem;
    color: var(--color-text-2);
    text-decoration: none;
    text-wrap: nowrap;
  }

  &__logo {
    padding: 2rem 0;
  }
}

.mobile-navigation {
  z-index: 200;
  background: var(--color-white);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3rem;
  display: none;
  flex-direction: column;
  gap: 3rem;

  &__lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.8rem;
    flex-grow: 1;
    width: 100%;
    justify-content: stretch;
  }

  &__link {
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    display: inline-block;
  }
}

.button {
  color: var(--color-white);
  background: var(--color-primary);
  font-weight: 500;
  border: none;
  outline: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;

  &-navigation {
    padding: 1.1rem 2rem;
    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
  }

  &-sidebar {
    padding: 0.5rem;
    display: none;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
    }
  }

  &-mobile-navigation {
    padding: 1.1rem 2rem;
  }

  &-sidebar--close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
  }
}
