.section-header {
  background: var(--color-white);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.308);
}

.container {
  max-width: 129rem;
  margin: 0 auto;
}

.section-slider {
  background: radial-gradient(#b8dff500 0%, #e5eef35e 20%);
  padding-bottom: 50rem;
  border-radius: 0 0 200% 200%;

  @media only screen and (max-width: $bp-medium) {
    border-radius: 0 0 10% 10%;
  }
}

.section-blogs {
  margin: -40rem 2rem 10rem;
}

.section-footer {
  background: var(--color-text-2);
  padding: 4.5rem 7.5rem 2rem;

  @media only screen and (max-width: $bp-small) {
    padding: 4.5rem 5rem 2rem;
  }
}
