.section-header {
  background: var(--color-white);
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.308);
}

.container {
  max-width: 129rem;
  margin: 0 auto;
}

.section-blogs {
  margin: 10rem 2rem;
}

.section-footer {
  background: var(--color-text-2);
  padding: 4.5rem 7.5rem 2rem;
}
